@charset 'UTF-8';

//____________________________
// ページネーション
//____________________________
.pagination {

	.pagination__list {
		display: flex;
		justify-content: center;
		background-color: transparent;
		gap: 1rem;
	}


	.pagination__item {
		a,
		span {
			transition: 0.3s;
			font-size: 2rem;
			letter-spacing: 0.04em;

			&:hover {
				transition: 0.3s;
				cursor: pointer;
				opacity: 0.7;
			}
		}

		.page-numbers {
			width: 4.3rem;
			height: 4.3rem;
			display: flex;
			align-items: center;
			justify-content: center;
			border: .1rem solid $lightgray_ccc;
			border-radius: 50%;
			font-size: 1.5rem;
			@include poppins;
			font-weight: 500;


			@media #{$tab}{
				font-size: 1.4rem;
				width: 3.5rem;
				height: 3.5rem;
			}

			//____________________________
			// モディファイア
			//____________________________
			&.-disabled {
				opacity: 0.7;
				text-decoration: none;
			}
		}

		.prev, .next {
			margin: 0 2rem;
			font-size: 1.3rem;
			font-weight: 500;
			@include poppins;
			text-decoration: underline;
			border: none;

			@media #{$tab}{
				margin: 0 1rem;

			}
		}

		.current {
			border: .1rem solid $primary;
			background-color: $primary;
			color: $white_fff;
		}
	}
}
